body {
  background-color: #63a6ff;
  text-align: center;
}

.center-box {
  background-color: white;
  width: 320px;
  height: 400px;
  margin: 0 auto;
  display: table;
  box-shadow: 3px 3px 3px #d6d6d6;
}

section.linda {
    padding: 40px 0 0 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

section.linda-address {
    color: #7e7e7e80;
}

section.roger {
    padding: 50px 0 0 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

section.roger-address {
    color: #7e7e7e80;
}

section.dean {
    padding: 60px 0 0 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

section.dean-address {
    color: #7e7e7e80;
}

section.beth {
    padding: 60px 0 0 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

section.beth-address {
    color: #7e7e7e80;
}